
body{
    font-family: monospace;
    margin: 0px; 
    padding: 50px 100px 50px 100px;
    color: #1D1616; 
    line-height: 1.6;

}

header{
    background-color:  #EEEEEE; 
    color: #1D1616;
    padding: 10px 0; 
    text-align: center;
    font-family: serif;
}

footer{
    text-align: center;
    background-color: #EEEEEE;
    color: #1D1616; 
  }

section{
    padding: 20px;
}

h2 {
    color: #d71921;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    }

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

th{
    color: #1D1616;
    font-size: 15px;
}