
body{
    font-family: Arial;
    margin: 0; 
    padding: 0; 
    background-color: #F1E3D3; 
    color: #333; 
    line-height: 1.6;

}

header{
    background-color: #690B22; 
    color: #fff; 
    padding: 10px 0; 
    text-align: center;
}

footer{
    text-align: center
  }

section{
    padding: 20px;
}

h2 {
    color: #1B4D3E;
    }